html {
    font-family: 'Work Sans', sans-serif;
}

/* this is the header section */
.logo-style {
    width: auto;
    height: auto;
}

.navList {
    list-style-type: none;
    padding: 15px;
}

.navBar {
    display: flex;
    flex-direction: row;
}

.navBar a {
    color: #3B3C4A;
    text-decoration: none;
}

.navBar #current a {
    color: #4B6BFB;
}

.header-container {
    /* border-radius: 40px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    position: sticky;
    width: 1000px;
    top: 0px;
    background-color: #fff;
}

.header-container input {
    border: none;
    width: 167px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F4F4F5;
}

.bodySection {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
}


.bannerWriteUp {
    background-color: #F6F6F7;
    padding: 48px;
    margin-top: 40px;
}

.bannerInfo {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bannerInfo p {
    font-size: 20px;
    font-weight: 400px;
    color: #181A2A;
}

.bannerParagraph {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400px;
    color: #181A2A;
    line-height: 25px;
}

.img1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}


/* this is the lastest post section */
.blogContainer h4 {
    margin-top: 50px;
    font-size: 24px;
}

.column1 {
    width: 1000px;
    font-size: 21px;
    border: 1px solid #e8e8ea;
    border-radius: 8px;
    background-color: white;
    flex: 1 200px;
    height: auto;
    margin: 20px;
    padding: 8px;
}

.column1>img {
    width: 300px;
}

.techBlogbody {
    background-color: #4B6BFB0D;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    color: #4B6BFB;
    font-weight: 500px;
}

.techBlogbody p {
    font-size: 14px;
    padding: 5px;
}

.shortBlogInfo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.p5 {
    font-size: 14px;
    font-weight: 500;
    color: #97989F;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    /* flex-wrap: wrap; */
}




/* THIS IS THE FOOTER SECTION */

.footer {
    background-color: #F6F6F7;
    width: 100%;
}

.footerBody {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    gap: 40px;
    width: 1000px;
}

/* this is the aboout for footer */
.about h4 {
    font-size: 18px;
    color: #181A2A;
}

.p6 {
    color: #696A75;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 280px;
}

.p7 {
    width: 280px;
    /* margin-top: 35px; */
    padding-top: 20px;
}

.p7b {
    width: 280px;
}

.p7 span {
    font-size: 16px;
    color: #3B3C4A;
}

.p7b span {
    font-size: 16px;
    color: #3B3C4A;
}

/* this is the Quick link for footer */
.quickLink h4 {
    font-size: 18px;
    color: #181A2A;
}

.quickLink p {
    color: #3B3C4A;
    font-size: 16px;
    width: 67px;
    height: 20px;
    padding-top: 6px;
}

/* this is the category for footer */
.category h4 {
    font-size: 18px;
    color: 181A2A;
}

.category p {
    color: #3B3C4A;
    font-size: 16px;
    width: 67px;
    height: 13px;
    padding-top: 6px;
}

/* this is the Newsletter part for footer */
.newsLetter {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.newsLetter p {
    margin-top: -10px;
    color: #696A75;
}

.newsLetter input {
    width: 265px;
    padding: 10px;
    border: 1px solid #DCDDDF;
    border-radius: 5px;
}

.newsLetter button {
    margin-top: 10px;
    width: 285px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.line {
    width: 1000px;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.copyright img {
    width: 250px;
}

.copyrightWriteup {
    display: flex;
    flex-direction: row;
    gap: 20px;
}